/** PADDING **/
@for $i from 0 through 10 {
  .pad-#{$i * 10}-top {
    padding-top: #{$i * 10}px;
  }
}

@for $i from 0 through 10 {
  .pad-#{$i * 10}-left {
    padding-left: #{$i * 10}px;
  }
}

@for $i from 0 through 10 {
  .pad-#{$i * 10}-right {
    padding-right: #{$i * 10}px;
  }
}

@for $i from 0 through 10 {
  .pad-#{$i * 10}-bottom {
    padding-bottom: #{$i * 10}px;
  }
}

/** MARGIN **/
@for $i from 0 through 20 {
  .mar-#{$i * 5}-top {
    margin-top: #{$i * 10}px;
  }
}

@for $i from 0 through 20 {
  .mar-#{$i * 5}-left {
    margin-left: #{$i * 10}px;
  }
}

@for $i from 0 through 20 {
  .mar-#{$i * 5}-right {
    margin-right: #{$i * 10}px;
  }
}

@for $i from 0 through 20 {
  .mar-#{$i * 5}-bottom {
    margin-bottom: #{$i * 10}px;
  }
}

.marginless {
  margin: 0;
}

.icon {
  margin-right: 5px;
}

table.expand {
  width: 100%;
}