<div class="nexus-index">
    <div class="reactor">
        <div class="ring-1"></div>
        <div class="ring-2"></div>
        <div class="ring-3"></div>
    </div>
</div>

<div class="nexus-index-content">
    <div class="row pad-40-top">
        <div class="large-12 columns text-center">
            <img src="/images/detail.png" class="detail">

            <h1>Welcome to Nexus</h1>

            <p>The simple configuration server</p>

            <a href="/login" class="button">Login</a>
        </div>
    </div>
</div>
