<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Login</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 medium-push-4 columns">
            <i class="fi-info"></i><hr class="small">
            <p>Please enter your account credentials below to continue:
        </p>
        <div class="panel">
            <form method="post" action="/login">
                <label>
                    Username:
                    <input type="text" name="username">
                </label>

                <label>
                    Password:
                    <input type="password" name="password">
                </label>

                <hr>

                <div class="row">
                    <div class="small-12 columns">
                        <button class="right small mar-0-bottom">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>