<div class="row">
    <div class="medium-4 medium-centered columns">
        <h3>Delete Application Token</h3>

        <div class="panel">
            <p>
                Are you sure you would like to delete "{{token.token}}" ({{token.id}})?
                This will revoke access to clients using this token
            </p>

            <hr>

            <div class="row">
                <div class="small-12 columns">
                    <form method="post" action="/tokens/{{token.id}}/delete">
                        <a class="button small secondary mar-0-bottom" href="/tokens">
                            Cancel
                        </a>

                        <button type="submit" class="button small right mar-0-bottom alert">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>