<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Application Tokens</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <ul class="button-group">
            <li><a class="button small" href="/tokens/new">
                <i class="icon fi-plus"></i>
                Create new token
            </a></li>
            {{^expiredShown}}
            <li><a class="button small" href="/tokens/?expired=true">
                <i class="icon fi-eye"></i>
                Include revoked or expired
            </a></li>
            {{/expiredShown}}
            {{#expiredShown}}
            <li><a class="button small" href="/tokens/">
                <i class="icon fi-eye"></i>
                Exclude revoked or expired
            </a></li>
            {{/expiredShown}}
        </ul>
    </div>

    <div class="small-12 columns">
        {{^tokens}}
        <div class="text-center">
            There aren't any tokens created yet
        </div>
        {{/tokens}}

        {{#tokens.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>Application</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#tokens}}
            <tr>
                <td>
                    <a href="/apps/{{ApplicationId}}/edit">{{applicationName}}</a>
                </td>
                <td>
                    {{token}}<br>
                    <small>{{displayDate}} - {{comment}}</small>
                </td>
                <td>
                    {{#valid}}
                    <a href="/tokens/{{id}}/revoke" class="button tiny secondary mar-0-bottom">Revoke</a>
                    {{/valid}}
                </td>
            </tr>
            {{/tokens}}
            </tbody>
        </table>
        {{/tokens.length}}
    </div>
</div>