<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Users</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li>
                <a class="button" href="/users/new">
                    <i class="icon fa fa-plus"></i>
                    Create new user
                </a>
            </li>
        </ul>
    </div>

    <div class="medium-8 columns">
        {{^users}}
        <div class="text-center">
            There aren't any users here. This is weird.
        </div>
        {{/users}}

        {{#users.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#users}}
            <tr>
                <td>
                    {{username}}
                </td>
                <td>
                    {{#canEdit}}
                    <a href="/users/{{id}}/edit">
                        Edit
                    </a>
                    &nbsp;
                    {{/canEdit}}
                    {{#canDelete}}
                    <a href="/users/{{id}}/delete">
                        Delete
                    </a>
                    {{/canDelete}}
                </td>
            </tr>
            {{/users}}
            </tbody>
        </table>
        {{/users.length}}
    </div>
</div>