<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Revoke file access grant</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-6 medium-centered columns">
        <i class="fi-alert"></i>

        <hr class="small">

        <h5>
            <b>Are you sure that you would like to revoke access to this file?</b>
        </h5>

        <p>This will revoke the grant on the file and "{{application.name}}" will not be able to access "{{file.name}}"</p>

        <div class="panel">
            <div class="row">
                <div class="small-12 columns">
                    <form method="post" action="/grants/{{grant.id}}/delete">
                        <a class="button small secondary mar-0-bottom" href="/apps/{{application.id}}/edit">
                            Cancel
                        </a>

                        <button type="submit" class="button small right mar-0-bottom alert">
                            Revoke
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>