<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexusConfig</title>
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/components/modernizr/modernizr.js"></script>
</head>
<body>

<div class="nexus-container">
    <div class="nexus-header">
        <div class="contain-to-grid">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <a href="/"><div class="top-bar-logo"></div></a>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        {{#loggedOut}}
                        <li><a href="/login">Login</a></li>
                        {{/loggedOut}}
                        {{#user}}
                        <li><a href="/logout">Logout</a></li>
                        {{/user}}
                    </ul>

                    <!-- Left Nav Section -->
                    {{#user}}
                    <ul class="left">
                        <li><a href="/apps">Applications</a></li>
                        <li><a href="/files">Files</a></li>
                        <li><a href="/tokens">Tokens</a></li>
                        <li><a href="/users">Users</a></li>
                    </ul>
                    {{/user}}
                </section>
            </nav>
        </div>
    </div>

    <div class="nexus-content">
        {{#errorMessages}}
        <div class="secondary-bar mar-0-bottom">
            <div class="row">
                <div class="small-12 columns pad-20-top">
                    <div class="alert-box alert">{{.}}</div>
                </div>
            </div>
        </div>
        {{/errorMessages}}

        {{{ yield }}}
    </div>

    <div class="nexus-footer">
        <div class="row">
            <div class="medium-6 columns">
                <small>Nexus Configuration Server v0.0.1 - Developed by Chromabits</small>
            </div>

            <div class="medium-6 columns text-right">
                <a href="https://chromabits.com"><div class="logo"></div></a>
            </div>
        </div>
    </div>
</div>

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/foundation/js/foundation.min.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
