<div class="row pad-20-top">
    <div class="medium-4 medium-push-4 columns">
        <div class="panel">
            <h3>Login</h3>

            <form method="post" action="/login">
                <label>
                    Username:
                    <input type="text" name="username">
                </label>

                <label>
                    Password:
                    <input type="password" name="password">
                </label>

                <div class="row">
                    <div class="small-12 columns">
                        <button class="right">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>