.secondary-bar {
  background-color: #EEEEEE;

  margin-bottom: 20px;

  h1 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666666;
  }

  &.mar-0-bottom {
    margin-bottom: 0;
  }
}

hr.small {
  margin-top: 2px;
  margin-bottom: 5px;
}