<div class="secondary-bar">
    <div class="row">
        <div class="small-6 columns">
            <h1>
                {{application.name}}<br>
                <small>{{application.description}}</small>
            </h1>
        </div>

        <div class="small-6 columns text-right">
            <p class="pad-20-top"><a href="/apps"><small>ALL APPLICATIONS &hookleftarrow;</small></a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <h5><small>APPLICATION DETAILS</small></h5>
        <div class="panel">
            <form method="post" action="/apps/{{application.id}}/edit">
                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Name</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="text" name="name" value="{{application.name}}">
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Description</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="text" name="description" value="{{application.description}}">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="small-12 columns">
                        <a class="button small mar-0-bottom secondary" href="/apps">
                            Cancel
                        </a>

                        <button type="submit" class="small right mar-0-bottom">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="medium-6 columns">
        <h5><small>GRANTS</small></h5>

        <div class="panel">
            {{^files}}
            <div class="text-center">
                <small>There are currently no files available to grant access to</small>
            </div>
            {{/files}}

            {{#files.length}}
            <form method="post" action="/grants/new">
                <input type="hidden" name="applicationId" value="{{application.id}}">

                <div class="row">
                    <div class="medium-3 columns">
                        <label class="inline">
                            File
                        </label>
                    </div>

                    <div class="medium-6 columns">
                        <select name="fileId">
                            {{#files}}
                            <option value="{{id}}">{{name}}</option>
                            {{/files}}
                        </select>
                    </div>

                    <div class="medium-3 columns">
                        <button class="expand tiny">Grant</button>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 medium-push-3 columns">
                        <input type="text" name="alias" placeholder="Filename alias">
                    </div>
                </div>
            </form>
            {{/files.length}}
        </div>

        {{^grants}}
        <div class="alert-box warning">
            This application currently does not have access to any configuration files
        </div>
        {{/grants}}

        {{#grants.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>File</th>
                <th>Alias</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#grants}}
            <tr>
                <td>{{filename}}</td>
                <td>{{alias}}</td>
                <td>
                    <a href="/grants/{{id}}/delete">Revoke</a>
                </td>
            </tr>
            {{/grants}}
            </tbody>
        </table>
        {{/grants.length}}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h5><small>SERVER INSTANCES</small></h5>

        <table class="expand">
        <thead>
            <tr>
                <th>Instance Name</th>
                <th>Latest message</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {{^instancePings}}
        <tr>
            <td colspan="3" class="text-center">No instances have recently reported running this application</td>
        </tr>
        {{/instancePings}}

        {{#instancePings}}
            <tr>
                <td>{{instanceName}}</td>
                <td>{{message}}</td>
                <td>{{lastSeen}}</td>
            </tr>
        {{/instancePings}}
        </tbody>
        </table>
    </div>
</div>