<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Applications</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li><a class="button" href="/apps/new">Create new application</a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        {{^applications}}
        <div class="text-center">
            There aren't any applications defined
        </div>
        {{/applications}}

        {{#applications.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#applications}}
            <tr>
                <td>
                    <h6>
                        {{name}}<br>
                        <small>{{description}}</small>
                    </h6>
                </td>
                <td>
                    <a href="/apps/{{id}}/edit">
                        Edit
                    </a>
                    &nbsp;
                    <a href="/apps/{{id}}/delete">
                        Delete
                    </a>
                </td>
            </tr>
            {{/applications}}
            </tbody>
        </table>
        {{/applications.length}}
    </div>
</div>