<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Create a new file</h1>
        </div>
    </div>
</div>

<form method="post" action="/files/new">
    <div class="row">
        <div class="medium-3 columns">
            <div class="panel">

                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Name
                            <input type="text" name="name" value="{{file.name}}">
                        </label>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="small-12 columns">
                        <a class="button small expand secondary" href="/files">
                            <i class="icon fa fa-close"></i>
                            Discard
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <button type="submit" class="expand small mar-0-bottom">
                            <i class="icon fa fa-save"></i>
                            Create file
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-9 columns">
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        <textarea data-editor="{{editorMode}}" name="contents" placeholder="File contents go here">{{{file.contents}}}</textarea>
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>