<div class="row">
    <div class="medium-6 medium-centered columns">
        <h3>Edit user</h3>
    </div>
</div>

<div class="row">
    <div class="medium-6 medium-centered columns">
        <div class="panel">
            <form method="post" action="/users/{{user.id}}/edit">
                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Username</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="text" name="name" value="{{user.username}}" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Password</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="password" name="password">
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Password (repeat)</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="password" name="password_repeat">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="small-12 columns">
                        <a class="button small mar-0-bottom secondary" href="/users">
                            Cancel
                        </a>

                        <button type="submit" class="small right mar-0-bottom">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>