<div class="row">
    <div class="small-12 columns">
        <h3>Users</h3>

        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li><a class="button" href="/apps/new">Create new user</a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        <table class="expand">
            <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    delta6
                </td>
                <td>Edit&nbsp;Delete</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>