<div class="row">
    <div class="medium-4 medium-centered columns">
        <h3>Revoke grant</h3>

        <div class="panel">
            <p>Are you sure you would like to revoke grant on "{{file.name}}" ({{file.id}}) to {{application.name}} ({{application.id}})?</p>

            <hr>

            <div class="row">
                <div class="small-12 columns">
                    <form method="post" action="/grants/{{grant.id}}/delete">
                        <a class="button small secondary mar-0-bottom" href="/grants">
                            Cancel
                        </a>

                        <button type="submit" class="button small right mar-0-bottom alert">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>