<div class="row">
    <div class="small-12 columns">
        <h3>Grants</h3>

        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li><a class="button" href="/grants/new">Create new grant</a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        <table class="expand">
            <thead>
            <tr>
                <th>Application</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <h6>
                        Test App<br>
                        <small>A testing application</small>
                    </h6>
                </td>
                <td>
                    File.jpg
                </td>
                <td>Edit&nbsp;Delete</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>