<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Applications</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li><a class="button" href="/apps/new">
                <i class="icon fi-plus"></i>
                Create new application
            </a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        {{^applications}}
        <div class="text-center">
            There aren't any applications defined
        </div>
        {{/applications}}

        {{#applications.length}}
        <table class="expand">
            <thead>
            <tr>
                <th colspan="2">Name</th>
            </tr>
            </thead>

            <tbody>
            {{#applications}}
            <tr>
                <td>
                    <h6>
                        {{name}}<br>
                        <small>
                            {{description}}
                            {{#instanceCount}}
                            &nbsp;(
                            <span class="success">
                                {{instanceCount}} instances running
                            </span>)

                            {{/instanceCount}}
                        </small>
                    </h6>
                </td>
                <td>
                    <ul class="button-group pull-right">
                        <li>
                            <a href="/apps/{{id}}/edit" class="button tiny mar-0-bottom">
                                <i class="icon fa fa-edit"></i>
                                Edit
                            </a>
                        </li>

                        <li>
                            <a href="/apps/{{id}}/delete" class="button tiny secondary mar-0-bottom">
                                <i class="icon fa fa-trash"></i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {{/applications}}
            </tbody>
        </table>
        {{/applications.length}}
    </div>
</div>