<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Create a new application</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-6 medium-centered columns">
        <i class="fi-plus"></i>
        <hr class="small">
        <p>
            Define a new application inside Nexus: The application name must be unique
            but the description is optional
        </p>
        <div class="panel">
            <form method="post" action="/apps/new">
                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Name</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="text" name="name">
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <label class="inline">Description</label>
                    </div>

                    <div class="medium-6 columns">
                        <input type="text" name="description">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="small-12 columns">
                        <a class="button small mar-0-bottom secondary" href="/apps">
                            Cancel
                        </a>

                        <button type="submit" class="small right mar-0-bottom">
                            Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>