<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Application Tokens</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <ul class="button-group">
            <li><a class="button small" href="/tokens/new">Create new token</a></li>
            <li><a class="button small" href="/tokens/new">Include revoked or expired</a></li>
        </ul>
    </div>

    <div class="small-12 columns">
        {{^tokens}}
        <div class="text-center">
            There aren't any tokens created yet
        </div>
        {{/tokens}}

        {{#tokens.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>Application</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#tokens}}
            <tr>
                <td>
                    {{applicationName}}
                </td>
                <td>
                    {{token}}<br>
                    <small>{{displayDate}}</small>
                </td>
                <td>
                    {{#valid}}
                    <a href="/tokens/{{id}}/revoke">Revoke</a>
                    {{/valid}}
                </td>
            </tr>
            {{/tokens}}
            </tbody>
        </table>
        {{/tokens.length}}
    </div>
</div>