<div class="secondary-bar">
    <div class="row">
        <div class="small-12 columns">
            <h1>Revoke Application Token</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-6 medium-centered columns">
        <i class="fi-alert"></i>

        <hr class="small">

        <h5>
            <b>Are you sure you that would like to revoke this token?</b>
        </h5>

        <p>
            This will revoke access to configuration files for applications
            using this token and cannot be undone
        </p>

        <p>
            <small>
                Token ID: {{token.id}}<br>
                Token Key: {{token.token}}
            </small>
        </p>


        <div class="panel">
            <div class="row">
                <div class="small-12 columns">
                    <form method="post" action="/tokens/{{token.id}}/revoke">
                        <a class="button small secondary mar-0-bottom" href="/tokens">
                            Cancel
                        </a>

                        <button type="submit" class="button small right mar-0-bottom alert">
                            Revoke
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>