<div class="row">
    <div class="medium-4 medium-centered columns">
        <h3>Delete File</h3>

        <div class="panel">
            <p>Are you sure you would like to delete "{{file.name}}" ({{file.id}})?</p>

            <hr>

            <div class="row">
                <div class="small-12 columns">
                    <form method="post" action="/files/{{file.id}}/delete">
                        <a class="button small secondary mar-0-bottom" href="/files">
                            Cancel
                        </a>

                        <button type="submit" class="button small right mar-0-bottom alert">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>