<div class="row">
    <div class="small-12 columns">
        <h3>Files</h3>

        <hr>
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <ul class="button-group">
            <li><a class="button" href="/files/new">Create new file</a></li>
        </ul>
    </div>

    <div class="medium-8 columns">
        {{^files}}
        <div class="text-center">
            There aren't any files here
        </div>
        {{/files}}

        {{#files.length}}
        <table class="expand">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#files}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    <a href="/files/{{id}}/edit">
                        Edit
                    </a>
                    &nbsp;
                    <a href="/files/{{id}}/delete">
                        Delete
                    </a>
                </td>
            </tr>
            {{/files}}
            </tbody>
        </table>
        {{/files.length}}
    </div>
</div>